.js-video-player {
    width: 800px;
    height: 600px;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 15px 5px gray;
}

.js-video-container {
    width: 800px;
    height: 600px;
}

.vp-controls {
    display: flex;    
    align-items: center;
    background-color: black;
    justify-content: center;
    padding-bottom: 4px;
  }

.vp-button {
    color: white;
    font-size: 20px;    
    width: 35px;
    height: 35px;
    align-items: center;
    background-color: transparent;
    cursor: pointer;
    border: none;
    margin-right: 3px;
}

.plug {
    flex: 1;
    display: flex;
}